@model ContosoUniverstity.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure about that</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dt class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.)
        </dt>
    </dt>
</div>